body{
    background: url('../Assests/simon-lee-zft-W1kVEhg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.home-profile{
    height: 100vh;
}
.division-one{

    border: 5px solid white;
    border-radius: 50px;
  }
  .division-profileimg{
    display: flex;
    justify-content: center;
  }
  .userpostcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    
  }
.usrpostdiv{
  width: 300px;  
  height: 300px;
margin: 20px;

}
.usrpostdiv img{
  min-height: 300px;
  width: 285px;  
  border-radius: 5px;
  contain: content;
}

@media (max-width: 768px) {
  .usrpostdiv {
    width: 100%;
    margin: 50px;
  }
  
}