::-webkit-scrollbar{
  width: 2px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  width: 10%;
  border-radius: 10px;
}

.nav-bar{
  background: url(../Assests/milad-fakurian-d4lv5slqeqY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



.typewriter {
    font-size: 2vw;
    overflow: hidden;
 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em; 
    animation: typing 8s steps(40) ;
    color: #000503;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  .heading1{
    position: absolute;
     }

.head1 h1{
  font-size: 12vw;
  width: 100%;
  color: transparent;
  background: url('../Assests/smokegif.webp');
  -webkit-background-clip: text;
  -moz-background-clip: text;
}


  /*  */
.startButton {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #e6ac0b;
    
   }
   
   .startButton::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #8bbc04;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .startButton:hover::before {
    width: 105%;
   }

   /* auth */
   .auth{
    background-color: #333;

   }
   .auth-form {
    background-color: #000000;
    border-radius: 30px;
    box-shadow: 2px 5px 5px #000000,
               -5px -2px 10px #000000;
   }
   .auth-form input{
    border: 2px solid #e8e8e8;
    padding: 15px;
    border-radius: 10px;
    background-color: #212121;
    font-size:medium;
    font-weight: bold;
    text-align: center;
   }
  
.division-second {

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 41.2%;
    height: 100vh;
    overflow:scroll;
    scrollbar-width: none;
  
}
.division-second::-webkit-scrollbar{
  display: none;
}
.division-second div p span{
   font-size: 30px;
   text-shadow:2px 2px rgb(12, 3, 3);
}
.division-third-main {

 /* background: url(../Assests/boliviainteligente-DpOGOw_avns-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
}

.division-third-main::-webkit-scrollbar {
  display: none;
}

.division-third {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* card  */
.division-third-card {
    margin: 20px;
    max-width: 280px; 
    width: 100%;
    position: relative;
    width: 33.33%; 
    height: 35vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    scrollbar-width: none;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .division-third-card img {
    width: 100%;
   height:100%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .division-third-card:hover {
    transform:scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .division-third-card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #ff0202;
    line-height: 1.4;
  }
  
  
  
  @media (max-width: 768px) {
    .division-third-card {
      width: 50%;
    }
  
  }
    @media (max-width: 576px) {
    .division-third-card {
      width: 100%;
    }
 
  }


.review-division{
  /* background: url(../Assests/boliviainteligente-DpOGOw_avns-unsplash.jpg); */
  background-size: cover;

}
  /* review card */
  .reviewcard {
    width: 190px;
    height: 254px;
    margin: 10px;
    background: rgb(103, 225, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    position: relative;
    display: inline-block;
  }

  .reviewcard:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: rgb(0, 0, 0);
  }
 .first-content img{
  display: block;
 }
 .review-head{
  font-size: 17px;
  background-color: white;
  font-weight: bolder;
  position: absolute;
  top: 70%;
  left: 50%; 
  transform: translate(-50%, 240%);
  text-align: center;
}
  .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
      font-size: 1.8rem;
      contain: content;
  }

  .reviewcard:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(0deg) scale(1);
  }
  
  .reviewcard:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1rem;
    transform: rotate(0deg);
  }
  .reviewcard-srolldiv{
    overflow: auto;
  }
.reviewcard-srolldiv:hover::-webkit-scrollbar-track{
  background-color: white;
}
.reviewcard-srolldiv:hover::-webkit-scrollbar-thumb{
  background-color: rgb(0, 0, 0);
}
  /* carosual */
  .carousel{
    height: 40vh;  
    width: 100%;
    overflow: scroll;
  }
  .carousel::-webkit-scrollbar{
    display: none;
  }
 .carousel-innerdiv h1{
font-size: 20px;
color: white;
 }
 .carousel-control-prev{
  visibility: hidden;
 }
 .carousel-control-next{
  visibility: hidden;
 }
.carousel-indicators button{
  cursor: pointer;
border-radius: 50px;  
&.active{
  background: #000000;
}
}
 /* division-four */
 .division-four{
  height: 100vh;
  width: 100%;
  text-align: left;
  position: relative;
  /* background: url(../Assests/simon-lee-zft-W1kVEhg-unsplash.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
 }
 
 .div-four-inn h5{
  font-size: 30px;
 }
 .div-four-inn h1{
  font-size: 50px;
 }

 /* search */
 .search input{
  border: 2px solid #e8e8e8;
  border-radius: 10px;
  background-color: #212121;
  font-size:medium;
  font-weight: bold;
  text-align: center;
  z-index: 0;
 }





 .search{
  object-fit: cover;
 }
 .magnifying-glass{
  margin-top: 8px;
  font-size: 30px;
  z-index: 1;
  margin-right: -18%;
 }
 @media screen and (max-width: 560px) {
  .magnifying-glass{
    visibility: hidden;
   }
   .search{
    margin-left: 40px;
  }

  }


 @media screen and (max-width: 540px) {
  .usrlogbtn button{
    width: 350%;   
  }
  .nav1{
    margin: 10px;
  }
.searchinput{
  margin-top: 20px;
}
}
.usrlogbtn btn{
  width: 100%;
  background-color: #ffffff;
 }
 .example-collapse-text{
  height: 100px;
 }

.searchinput{
  border: none;
  padding: .5rem;
  border-radius: 1rem;
  background: #e8e8e8;
  transition: 0.3s;
  margin-top: 15px;
 }
 
 .searchinput:focus {
 
  background: #e8e8e8;

  transition: 0.3s;
 }




.hovertored a{
  text-decoration: none;
}
.hovertored:hover a{
  color: rgb(255, 255, 255);
  background-color: #000000;

}
.zezonehover:hover a{
  color: rgb(255, 255, 255);
  background-color: #091036;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.hovertored:hover h2{
  color: red;
  text-decoration: underline;
  
}
.dropdown-toggle::after {
  display: none !important;
}
@media only screen and (max-width: 992px) {
#dropdown-basic{
  margin-left: -15%;
}
}
@media only screen and (min-width: 993px) {
  #dropdown-basic{
    margin-left: -8%;
  }
}
@media only screen and (max-width: 600px) {
  #dropdown-basic{
    margin-left: -22%;
    margin-top: -5%;
  }
}
@media only screen and (max-width: 560px) {
 .profile-btn,.profile-btn button{
  width: 90vw;
 }
}


