.profile-img{
  max-height: 300px;
  max-width: 250px;  
  border: 5px solid black;
  border-radius: 40px;
}
.division-one{

  border: 5px solid white;
  border-radius: 50px;
}
.usrbiodiv{
  max-width: 500px;
  contain: content;
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.division-profiledetails{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.division-profiledetails h2{
  color: white;
  font-size: 50px;
}
.division-profiledetails h4{
  color: white;
  font-size: 25px;
}
.division-profileimg{
  display: flex;
  justify-content: center;
}

.addpost{
  height: 50px;
  width: 200px;
  color: rgb(255, 106, 0);
  border: 2px solid white;
  border-radius: 10px; 
  background-color: rgb(255, 255, 255);


}
.first-content{
  transition: all 0.4s;
  font-size: 30px;
  color: rgb(0, 0, 0);
 
}
.addpost:hover .first-content {
  height: 0px;
  opacity: 0;
}
.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(0deg) scale(1);
}
.addpost:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 2rem;
  transform: rotate(0deg);
}


.post-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.post-col{
  margin: 20px;
  flex-grow: 1;
  flex-basis: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}



.addpost-modal {
  margin: auto;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addpost-modal img{

  width: 100%; 
  height: 400px; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.caption-box{
width: 100%;
border: 2px solid #e8e8e8;
padding: 8px;
border-radius: 5px;
background-color: #212121;
font-size: 1.2rem;
font-weight: bold;
text-align: center;
}



/*  user home*/ /*  user home*/  /*  user home*/
 
 .div-userhome {

  padding: 20px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
 }
 
 .div-userpost {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 50px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 15px;

 }
 .div-userpost h2{
  text-align: left;
 }
 .userpostimg img{
  width: 100%;
  height: 400px;
  border-radius: 5px;  
 }
 .userpostimg11{
  height: 100%;
  width: 100%;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    contain: content;
 } 

 .pdivfirst-content{
  height: 100%;
  width: 100%;
  transition: opacity 0.5s;
  
  border-radius: 15px;
    font-size: 1.8rem;
   
}



.comment-box {   

font-size: 1.2rem;
contain: content;
display: none;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
position: absolute;
top: 50px;

}
.dashcomment-boxxx{   
  margin-top: -20px;
  margin-left: px;
  font-size: 1.2rem;
  contain: content;
  display: none;
  width: 100%;
  height: 580px;
  display: flex;
  flex-direction: column;
  position: absolute;
  }
.comment-paragraph {
width: 100%;
color: black;
border: 1px solid #ccc;
background-color: white;
font-size: 1.5rem;
font-weight: 500;
padding: 10px;
margin: 5px;
border-radius: 5px;
overflow: hidden;

}

.commentlistboxxx{
  height: 450px;  
  position: relative;
  overflow:scroll;
  scrollbar-width: none;
}

 @media screen and (min-width: 768px) {
  .div-userpost{
      height: 42rem;
      width: 60vw;
  }
 }
 @media screen and (max-width: 768px) {
  .div-userpost {
     width: 100%;
  }
  .userpostimg img{
      width: 100%;
      height: 440px;
     }
     .comment-paragraph {
      width: 90%;
      border: 1px solid #ccc;
      background-color: white;
      font-size: 1rem;
      padding: 10px;
      margin: 5px;
      border-radius: 5px;
    
    }
 }
 @media screen and (min-width: 1400px) {
  .div-userpost img{
      
      height: 30rem;
      width: 100%;
  }
}
 @media screen and (min-width: 1800) {
  .div-userpost img{
      height: 48rem;
      width: 100%;
  }
}

.custom-collapse {
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
  transform: rotate(0deg) scale(1);
}

.custom-collapse.open {
  transform: rotate(0deg);
}


.viewpostimg{
  width: 100%; 
  height: 400px; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.comment-content {
     height: 78%;  
     position: relative;       
}

.navbar{
  border: 3px solid white;
  border-radius: 5px;
}  
.reply-input-box{
  width:98%;
border: 2px solid #e8e8e8;
padding: 8px;
border-radius: 5px;
background-color: #322f2f;
font-size: 1.2rem;
font-weight: bold;
outline: none;
position: absolute;
bottom: 0;
}

.addprofile {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  contain: content;

}
.addprofileimg{
  max-height: 300px;
  width: 250px;  
  border-radius: 5px;
  contain: content;
}
.dashprofile-img{
  max-height: 300px;
  width: 300px;  
  border-radius: 5px;
  contain: content;
}

.comment-paragraph {
  width: 100%;
  color: black;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  
  }
  

 
.messageBox {
  width:97%;
font-size: 1.2rem;
font-weight: bold;
outline: none;
position: absolute;
bottom: 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
}
.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}
#messageInput {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  
}
.dashcomment-boxxx{
height: 580px;
margin-top: -100px;
margin-left: -16px;

font-size: 1.2rem;
contain: content;
display: none;
width: 100%;
display: flex;
flex-direction: column;
position: absolute;
top: 30px;

}
@media (max-width: 470px) {
  .dashcomment-box{
      margin-left: -4%;
      margin-top: -16%;
      }
}
.wrapper {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

