body{
    background: url('./Assests/simon-lee-zft-W1kVEhg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}
